@charset "UTF-8";

@media screen and (max-width: 768px) {
    body{
        background-color: white;
        background-image: none;
    }

    header{
        display: flex;
        flex-direction: column;
    }

    header > nav{
        margin-bottom: 20px;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 20px;
        text-align: center;
        text-align: justify;
        background-image: linear-gradient(to top, var(--color03), var(--color05));
        background-repeat: no-repeat;
        background-size: cover;
    }

    .left-side > p{
        width: 320px;
    }

    form{
       align-items: center;
       margin-top: 20px;
    }

    input#send-button{
        width: 300px;
        height: 40px;
    }
}
