@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --color01: #ffffff;
    --color02: #000000;
    --color03: #00000073;

    --font01: 'Passion One', cursive;
    --font02: 'Sriracha', cursive;
    --font03: Verdana, Genevam, Tahoma, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
    min-height: 100vh;
    background-color: #ffffff;
    font-family: var(--font03);
}

header{
    background-color: #000000;
    color: var(--color01);
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font01);
    font-size: 10vw;
    letter-spacing: 4px;
}

header p{
    padding-bottom: 50px;
    font-size: 1.1em;
}

a{
    color: var(--color01);
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: var(--color01);
}

section{
    padding: 10vh 0px 10vh 30px;
    line-height: 2em;
    font-family: var(--font02);
    font-size: 3.5vw;
}

section p{
    padding-bottom: 2em;
}

section.normal{
    background-color: #ffffff;
    color: var(--color02);
}

section.imagem{
    background-color: #ffffff;
    color: var(--color01);
    box-shadow: inset 6px 6px 13px 0px var(--color03);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem p{
    display: inline-block;
    padding: 5px;
    background-color: var(--color03);
    text-shadow: 1px 1px 0px var(--color03);
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    
}

footer{
    background-color: #000000;
    text-align: center;
    color: var(--color01);
    padding: 10px;
}