@charset "UTF-8";

@media screen and (max-width: 768px) {
    header{
        display: flex;
        flex-direction: column;
    }

    header > nav{
        margin-bottom: 20px;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 20px;
        text-align: center;
        text-align: justify;
    }

    .left-side > p{
        width: 320px;
    }

    form{
       align-items: center;
       margin-top: 20px;
    }

    input#send-button{
        width: 300px;
        height: 40px;
    }
}
