@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --color01: #312933;
    --color02: #54375C;
    --color03: #8cffff;
    --color04: #ccf0f0;
    --color05: #9b03c5;
    --color06: #000000;
    --color07: #ffffff;

    --fonts01: 'Roboto', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonts01);
    box-sizing: border-box;
}

body, html{
    background-image: linear-gradient(to top, var(--color03), var(--color05));
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: var(--color07);
    width: 260px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--color01);

    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#image{
    display: block;
    background-image: url('../images/login-wallpaper.jpg');
    background-size: cover;
    height: 200px;
}

section#login > div#form{
    display: block;
    padding: 10px;
    text-align: center;
}

div#form > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#form > p{
    font-size: 1em;
}

form > div.camp{
    background-color: var(--color02);
    border: 2px solid var(--color06);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.camp > label {
    display: none;
}

div.camp > i{
    color: var(--color07);
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.camp > input{
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;

    transform: translateY(-13px);
}

div.camp > input:focus-within{
    background-color: var(--color07);
    border: none;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    font-weight: bold;
    color: var(--color02);
    width: 100%;
    height: 40px;
    border: 2px solid var(--color06);
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: var(--color02);
    color: var(--color07);
}

form > a.button{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: var(--color07);
    color: var(--color02);
    border: 2px solid var(--color02);
    border-radius: 5px;
    text-decoration: none;
}

form > a.button:hover{
    background-color: var(--color02);
    color: var(--color07);
}

form > a.button > i{
    font-size: 0.8em;
}